# Entornos virtuales de Python
.venv/
.venv_win/
venv/
env/

# Bytecode de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribuciones / empaquetado
dist/
build/
*.egg-info/

# Configuracion de IDEs
.vscode/
.idea/
*.suo
*.user

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
